<footer class="text-center space--sm footer-5 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="heading-block">
          <ul class="list-inline list--hover">
            <li>
              <a href="#">
                <span>Our Company</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Locations</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Products</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Work With Us</span>
              </a>
            </li>
          </ul>
        </div> -->
        <div>
          <ul class="social-list list-inline list--hover">
            <li>
              <a href="https://www.facebook.com/coders.tokyo/" target="_blank">
                <i class="socicon socicon-facebook icon icon--xs"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=zIjRONNA_8Y&list=PLkY6Xj8Sg8-uPZnTdScfuH0xD-O6Kb-V-"
                target="_blank">
                <i class="socicon socicon-youtube icon icon--xs"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/coders.tokyo" target="_blank">
                <i class="socicon socicon-instagram icon icon--xs"></i>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <span class="type--fine-print">Made with
            &nbsp;&nbsp;<span style="font-size: 30px; vertical-align: middle;">⌨️</span> &nbsp; and &nbsp;
            <span style="font-size: 30px; vertical-align: middle;">🙌</span>
          </span>
        </div>
        <div>
          <span class="type--fine-print">&copy;
            <span class="update-year"></span> coders.tokyo</span>
          <!-- <a class="type--fine-print" href="#">Privacy Policy</a>
          <a class="type--fine-print" href="#">Legal</a> -->
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <div id="scrollTop" class="scrollTop">
    <img src="/images/up-arrow.svg" />
  </div>
  <!--end of container-->
</footer>

<%- js('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js') %>
<%- js('https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.1/flickity.pkgd.min.js') %>
<%- js('https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/14.2.1/smooth-scroll.min.js') %>
<%- js('js/scripts.js') %>

<script>
  var scroll = new SmoothScroll('a[href*="#"]');
  var scrollTopEl = document.querySelector("#scrollTop");
  scrollTopEl.addEventListener("click", () => {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });
  window.onscroll = onScroll;
  function onScroll() {
    if (
      document.body.scrollTop > 30 ||
      document.documentElement.scrollTop > 30
    ) {
      scrollTopEl.classList.add("showScroll");
    } else {
      scrollTopEl.classList.remove("showScroll");
    }
  }
</script>

<!-- <footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer> -->